<?xml version="1.0"?>
<launch>
    <arg name="detect_camera" default="false"/>
    <arg name="rgb_point_cloud" default="false"/>
    <group if="$(arg detect_camera)">
        <include file="$(find authoring)/launch/detect.launch"/>  
    </group>
    <group unless="$(arg detect_camera)">
        <node pkg="tf" type="static_transform_publisher" name="camera_boadcast" args="1.224, 0.139, -0.048 -0.250, 0.119, 0.857, -0.434 camera_base panda_link0 100" /> -->
    </group>
    
    <include file="$(find authoring)/launch/kinect.launch">
        <arg name="rgb_point_cloud" default="$(arg rgb_point_cloud)"/>
    </include>
    <include file="$(find authoring)/launch/rviz_viewer.launch"/>  
</launch>
