<?xml version="1.0"?>
<launch>
    <arg name="file_name" default="transforms.yaml"/>
    <arg name="transform" default="jungle_transform"/>
    <arg name="image_topic" default="/rgb/image_raw"/> 
    <arg name="default_marker_size" default="79"/>
   
    <include file="$(find authoring)/launch/kinect.launch">
    </include>

    <include file="$(find ros_markers)/launch/detect.launch" >
        <arg name="image_topic"            value="$(arg image_topic)" />
        <arg name="default_marker_size"            value="$(arg default_marker_size)" />
    </include>  

    <node pkg="authoring" type="tf_printer" name="camera_printer" output="screen">
        <param name="file_name" type="string" value="$(arg file_name)" />
        <param name="transform" type="string" value="$(arg transform)" />
    </node>


    <node pkg="authoring" type="static_publisher" name="camera_static_publisher">
        <param name="file_name" type="string" value="transforms.yaml" />
        <param name="transform" type="string" value="camera_transform" />
    </node>
</launch>
