<?xml version="1.0"?>
<launch>
    <arg name="rgb_point_cloud" default="false"/>
    <arg name="tf_prefix" default="external_"/>
    <include file="$(find authoring)/launch/driver.launch" >
        <arg name="tf_prefix" default="$(arg tf_prefix)"/>
        <arg name="fps" default="30"/>
        <arg name="depth_mode" default="NFOV_UNBINNED"/>
        <arg name="rgb_point_cloud" default="$(arg rgb_point_cloud)"/>
        <arg name="body_tracking_enabled" default="false"/>
    </include>
</launch>
