<?xml version="1.0"?>
<launch>
    <arg name="use_relaxed_ik" default="false"/>
    <arg name="only_virtual" default="true"/>
    <arg name="record" default="true"/>
    <node pkg="authoring" type="planner" name="planner" output="screen"/>
    <node pkg="authoring" type="tracker" name="tracker" output="screen"/> 
    <node pkg="authoring" type="poi" name="poi">
        <param name="only_virtual" type="bool" value="$(arg only_virtual)" />
    </node> 

    <node pkg="authoring" type="mover_server" name="mover_server" output="screen">
        <param name="only_virtual" type="bool" value="$(arg only_virtual)" />
    </node>

    <!-- <node pkg="authoring" type="socket" name="socket" output="screen">
    </node> -->

    <node pkg="authoring" type="static_publisher" name="rotated_camera_static_publisher">
        <param name="file_name" type="string" value="transforms.yaml" />
        <param name="transform" type="string" value="rotated_camera" />
    </node>

    <node pkg="authoring" type="parser" name="parser" output="screen">
        <param name="only_virtual" type="bool" value="$(arg only_virtual)" />
    </node>

    <group if="$(arg record)">
        <node pkg="authoring" type="recorder" name="recorder"/>        
    </group>

    <group if="$(arg use_relaxed_ik)">
        <node pkg="relaxed_ik" type="relaxed_ik_rust.py" name="relaxed_ik_node"/>
        <node pkg="authoring" type="r_ik_wrapper" name="r_ik_wrapper"/>        
    </group>
    <group unless="$(arg use_relaxed_ik)">
        <node pkg="authoring" type="pandaJacob" name="pandaJacob"/>
    </group>
</launch>
